<div class="container-fluid">
  <div class="row">
    <div class="col-6 my-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Placa</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Marca</th>
          </tr>          
        </thead>
        <tbody>
          <tr *ngFor="let v of vehiculos">
            <td>{{ v.id }}</td>
            <td>{{ v.placa }}</td>
            <td>{{ v.modelo }}</td>
            <td>{{ v.color }}</td>
            <td>{{ v.marca }}</td>
          </tr>                  
        </tbody>
      </table>
    </div>
    <div class="col-6 p-4">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input class="form-control" id="nombre" type="text" name="nombre"/>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control"  id="email" type="text" name="email"/>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Recordarme
          </label>
        </div>
      </div>  
      <button class="btn btn-primary my-2">Enviar</button>      
    </div>
    
  </div>
</div>