<div class="container-fluid">
  <div class="row">
    <div class="col my-4 px-lg-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Placa</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Marca</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of vehiculos">
            <td>{{ v.placa }}</td>
            <td>{{ v.modelo }}</td>
            <td>{{ v.color }}</td>
            <td>{{ v.marca }}</td>
            <td>
              <button  type="button" class="btn btn-primary"
              (click)="onEditarNavigate(v.id)" title="Editar">Editar</button>
              <button class="btn btn-danger sm">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>